<header>
  <div class="container">
    <div class="row margin50">
      <div class="col-lg-12">
        <div class="slider">
          <div class='slide1'>
            <img class="photo-me" src="/assets/hotel.jpg">
          </div>
          <div class='slide2'>
            <img class="photo-me" src="/assets/oculus.jpg">
          </div>
          <div class='slide3'>
            <img class="photo-me" src="/assets/athens.jpg">
          </div>
          <div class='slide4'>
            <img class="photo-me" src="/assets/we_got_coders.jpg">
          </div>
          <div class='slide5'>
            <img class="photo-me" src="/assets/beach.jpg">
          </div>
          <div class='slide6'>
            <img class="photo-me" src="/assets/DHC_app.jpg">
          </div>
          <div class='slide7'></div>
        </div>
        <div class="intro">
          <h1 class="name">Nicole Sentis</h1>
          <div class="row">
            <div class="col-lg-2 col-lg-offset-4 dm">
              <hr class="diamond">
            </div>
            <div class="col-lg-2 dm2">
              <i class="fa fa-diamond" aria-hidden="true"></i>
              <hr class="diamond">
            </div>
          </div>
          <p class="skills">Ruby on Rails Developer - Front-End Developer - Art Historian</p>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="portfolio">
  <div class="container">
    <div class="row margin50">
      <div class="col-lg-12 text-center">
        <h2>PORTFOLIO</h2>
        <div class="row">
          <div class="col-lg-2 col-lg-offset-4 dm">
            <hr class="diamond diamond-portfolio">
          </div>
          <div class="col-lg-2 dm2">
            <i class="fa fa-diamond" aria-hidden="true"></i>
            <hr class="diamond diamond-portfolio">
          </div>
        </div>
      </div>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/buddha-preview.png">
          <div class="carousel-caption">
            <h3>"The Buddha"</h3>
            <h4>Museum Exhibition Webapp</h4>
            <ul>
              <li>Final project of "We Got Coders" web development bootcamp</li>
              <li>Inspired by a real exhibition webpage</li>
              <li>After registering, users can explore the artefacts and stories in each of the 7 galleries, search for an artefact by its number or country of origin</li>
              <li>"Book a ticket" and "Shop" are currently there for design purposes only</li>
              <li>Rails 5, HTML5, SCSS, Bootstrap, Javascript, Postgresql, Google Maps, Devise, Cancancan, Rails-admin, Carrierwave</li>
            </ul>
            <div class="col-lg-4 col-lg-offset-7">
              <button class="btn btn-outline-primary"><a href="https://github.com/NicoleAMS/WGC-Final-Project-/">Github</a></button>
              <button class="btn btn-outline-primary"><a href="https://buddha-museum-exhibition.herokuapp.com/">Website</a></button>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="/assets/a_little_bit_preview.png">
          <div class="carousel-caption">
            <h3>"A Little Bit"</h3>
            <h4>Bookshop Homepage & Product Page</h4>
            <ul>
              <li>Front-end practice, week 6 of "We Got Coders" web development bootcamp</li>
              <li>Based on a design mockup made in Photoshop</li>
              <li>Rails5, HTML5, SCSS</li>
              <li>Grid-writing practice, no use of Bootstrap</li>
              <li>Fully responsive, tested on multiple devices</li>
            </ul>
            <div class="col-lg-4 col-lg-offset-7">
              <button class="btn btn-outline-primary"><a href="https://github.com/NicoleAMS/wgc_a_little_bit_of_knowledge">Github</a></button>
              <button class="btn btn-outline-primary"><a href="https://wgc-a-little-bit.herokuapp.com/">Website</a></button>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="/assets/stories_preview.png">
          <div class="carousel-caption">
            <h3>"Stories"</h3>
            <h4>Home, About & Subscription pages for an upcoming travel journal app</h4>
            <ul>
              <li>Based on a Codecademy's Freeform project to practice Rails</li>
              <li>Rails5, HTML5, SCSS, Bootstrap, jQuery, Postgresql</li>
              <li>Includes a navigation menu that slides from the left and a contact form that adds users to a mailing list</li>
            </ul>
            <div class="col-lg-4 col-lg-offset-7">
              <button class="btn btn-outline-primary"><a href="https://github.com/NicoleAMS/stories_travel_journal">Github</a></button>
              <button class="btn btn-outline-primary"><a href="https://stories-my-travel-journal.herokuapp.com/">Website</a></button>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="/assets/we_got_singles_preview.png">
          <div class="carousel-caption">
            <h3>"We Got Singles"</h3>
            <h4>Dating website</h4>
            <ul>
              <li>Group project during week 9 of "We Got Coders" web development bootcamp</li>
              <li>4,5 days, 1 briefing, 1 presentation, 6 team members</li>
              <li>We used Pivotal Tracker to write down the "client's" requirements in stories and rated each story based on difficulty</li>
              <li>My main contribution to this project was the front-end, which I designed and developed together with one other team member</li>
              <li>Rails5, HTML5, SCSS, Bootstrap, jQuery/Javascript, Postgresql, Git/Bitbucket</li>
            </ul>
            <div class="col-lg-4 col-lg-offset-7">
              <button class="btn btn-outline-primary"><a href="http://we-got-singles.herokuapp.com/">Website</a></button>
            </div>
          </div>
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row margin50">
      <div class="col-lg-12 text-center">
        <h2>ABOUT ME</h2>
        <div class="row">
          <div class="col-lg-2 col-lg-offset-4 dm">
            <hr class="diamond diamond-about">
          </div>
          <div class="col-lg-2 dm2">
            <i class="fa fa-diamond" aria-hidden="true"></i>
            <hr class="diamond diamond-about">
          </div>
        </div>
      </div>
    </div>
    <div class="row margin50">
      <div class="col-lg-8 col-lg-offset-2">
        <p>I am a full-stack web developer with a strong interest in web design/front-end, UI & UX. I also have a background in art history and a passion for digital cultural heritage. Digital heritage, design, an interest in helping people around the world and a desire to help build a more sustainable future was what drove me to pursue a career as a web developer.</p> 
        <div class="text-center">
          <button class="btn btn-outline-primary download-cv"><%= link_to 'Download my CV', pages_pdf_path %></button>
        </div>
        <div id="contact" class="text-center">
          <a href="https://github.com/NicoleAMS"><i class="fa fa-github-square social-media-icons" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/nicolesentis/"><i class="fa fa-linkedin-square social-media-icons" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/nicole.sentis"><i class="fa fa-facebook-square social-media-icons" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>