<header>
  <div class="container">
    <div class="row margin50">
      <div class="col-lg-12">
        <div class="slider">
          <div class='slide1'>
            <img class="photo-me" src="/assets/hotel.jpg">
          </div>
          <div class='slide2'>
            <img class="photo-me" src="/assets/oculus.jpg">
          </div>
          <div class='slide3'>
            <img class="photo-me" src="/assets/athens.jpg">
          </div>
          <div class='slide4'>
            <img class="photo-me" src="/assets/we_got_coders.jpg">
          </div>
          <div class='slide5'>
            <img class="photo-me" src="/assets/beach.jpg">
          </div>
          <div class='slide6'>
            <img class="photo-me" src="/assets/DHC_app.jpg">
          </div>
          <div class='slide7'></div>
        </div>
        <div class="intro">
          <h1 class="name">Nicole Sentis</h1>
          <div class="row">
            <div class="col-lg-2 col-lg-offset-4 dm">
              <hr class="diamond">
            </div>
            <div class="col-lg-2 dm2">
              <i class="fa fa-diamond" aria-hidden="true"></i>
              <hr class="diamond">
            </div>
          </div>
          <p class="skills">Ruby on Rails Developer - Front-End Developer - Art Historian</p>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="portfolio">
  <div class="container">
    <div class="row margin50">
      <div class="col-lg-12 text-center">
        <h2>PORTFOLIO</h2>
        <div class="row">
          <div class="col-lg-2 col-lg-offset-4 dm">
            <hr class="diamond diamond-portfolio">
          </div>
          <div class="col-lg-2 dm2">
            <i class="fa fa-diamond" aria-hidden="true"></i>
            <hr class="diamond diamond-portfolio">
          </div>
        </div>
      </div>
    </div>
    <div class="row margin50">
      <div class="col-sm-6 portfolio-item">
        <div class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <h3 class="text-center">"The Buddha"</h3>
            <h4 class="text-center">Museum Exhibition Webapp</h4>
            <ul>
              <li>Final project of "We Got Coders" web development bootcamp</li>
              <li>Inspired by a real exhibition webpage</li>
              <li>After registering, users can explore the artefacts and stories in each of the 7 galleries, search for an artefact by its number or country of origin</li>
              <li>"Book a ticket" and "Shop" are currently there for design purposes only</li>
              <li>Rails 5, HTML5, SCSS, Bootstrap, Javascript, Google Maps, Devise, Cancancan, Rails-admin, Carrierwave</li>
            </ul>
            <div class="col-lg-4 col-lg-offset-8">
              <button class="btn btn-outline-primary"><a href="https://github.com/NicoleAMS/WGC-Final-Project-/">Github</a></button>
              <button class="btn btn-outline-primary"><a href="https://buddha-museum-exhibition.herokuapp.com/">Website</a></button>
            </div>
          </div>
          <img src="/assets/buddha-preview.png">
        </div>
      </div>
      <div class="col-sm-6 portfolio-item">
        <div class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <h3 class="text-center">"A Little Bit"</h3>
            <h4 class="text-center">Bookshop Homepage & Product Page</h4>
            <ul>
              <li>Front-end practice, week 6 of "We Got Coders" web development bootcamp</li>
              <li>Based on a design mockup made in Photoshop</li>
              <li>Rails5, HTML5, SCSS</li>
              <li>Grid-writing practice, no use of Bootstrap</li>
              <li>Fully responsive, tested on multiple devices</li>
            </ul>
            <div class="col-lg-4 col-lg-offset-8">
              <button class="btn btn-outline-primary"><a href="https://github.com/NicoleAMS/wgc_a_little_bit_of_knowledge">Github</a></button>
              <button class="btn btn-outline-primary"><a href="https://wgc-a-little-bit.herokuapp.com/">Website</a></button>
            </div>
          </div>
          <img src="/assets/a_little_bit_preview.png">
        </div>
      </div>
    </div>
    <div class="row margin50">
      <div class="col-sm-6 portfolio-item">
        <a href="" class="portfolio-link" data-toggle="modal">
          <div class="caption"></div>
          <img src="/assets/stories_preview.png">
        </a>
      </div>
      <div class="col-sm-6 portfolio-item">
        <a href="" class="portfolio-link" data-toggle="modal">
          <div class="caption"></div>
          <img src="/assets/we_got_singles_preview.png">
        </a>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row margin50">
      <div class="col-lg-12 text-center">
        <h2>ABOUT ME</h2>
        <div class="row">
          <div class="col-lg-2 col-lg-offset-4 dm">
            <hr class="diamond diamond-about">
          </div>
          <div class="col-lg-2 dm2">
            <i class="fa fa-diamond" aria-hidden="true"></i>
            <hr class="diamond diamond-about">
          </div>
        </div>
      </div>
    </div>
    <div class="row margin50">
      <div class="col-lg-8 col-lg-offset-2">
        <p>I am a full-stack web developer with a strong interest in web design/front-end, UI & UX. I also have a background in art history and a passion for digital cultural heritage. Digital heritage, design, an interest in helping people around the world and a desire to help build a more sustainable future was what drove me to pursue a career as a web developer.</p> 
        <div class="text-center">
          <button class="btn btn-outline-primary download-cv"><%= link_to 'Download my CV', pages_pdf_path %></button>
        </div>
        <div class="text-center">
          <a href="https://github.com/NicoleAMS"><i class="fa fa-github-square social-media-icons" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/nicolesentis/"><i class="fa fa-linkedin-square social-media-icons" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/nicole.sentis"><i class="fa fa-facebook-square social-media-icons" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>