.navbar-custom {
  background-color: $dark_blue;
  border: none;
  font-weight: 700;
  font-family: cochin;
  padding: 25px 0;
  transition: padding .3s initial initial;
  .navbar-nav {
    li {
      a {
        color: white;
      }
    }
  }
}

header {
  text-align: center;
  background: $sand;
  background-image: url("/assets/zeus_temple.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: $dark_blue;
  .container {
    padding-top: 125px;
    padding-bottom: 50px
  }
  .photo-me {
    border-radius: 50%;
    width: 250px;
    border: solid $brown 5px;
  }
  .intro {
    .name {
      font-size: 4.75em;
      font-family: cochin;
    }
    hr {
      padding: 0;
      border: none;
      border-top: solid white 5px;
      text-align: center;
      max-width: 250px;
      margin: 25px auto 30px;
      &:after {
        background-color: #E8DDC9;
        content: "\f219";
        color: $brown;
        display: inline-block;
        font-family: fontAwesome;
        position: relative;
        top: -.8em;
        font-size: 2em;
        padding: 0 .25em;
      }
    }
    .skills {
      font-size: 1.75em;
      font-family: cochin;
    }
  }
}