.navbar-custom {
  background-color: $dark_blue;
  border: none;
  font-weight: 700;
  font-family: cochin;
  padding: 25px 0;
  -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
  transition: padding .3s;
  .navbar-nav {
    li {
      &:active {
        background-color: $ruby_red;
      }
      a {
        color: white;
        &:hover {
          color: $sand;
        }
        &:active {
          background-color: $ruby_red;
        }
        &:focus {
          background-color: $ruby_red;
        }
      }
    }
  }
}

