.navbar-custom {
  background-color: $dark_blue;
  border: none;
  font-weight: 700;
  font-family: cochin;
  padding: 25px 0;
  -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
  transition: padding .3s;
  .navbar-nav {
    li {
      a {
        color: white;
        &:hover {
          color: $sand;
        }
      }
    }
  }
}

footer {
  height: 80px;
  background-color: $dark_blue;
  color: white;
  font-size: 16px;
  p {
    padding-top: 32px;
  }
}