  .photo-me {
    border-radius: 50%;
    width: 250px;
    border: solid $dark_blue 5px;
  }

header {
  text-align: center;
  background: $sand;
  background-image: url("/assets/zeus_temple.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: $dark_blue;
  .container {
    padding-top: 150px;
    padding-bottom: 50px
  }
  .intro {
    .name {
      font-size: 4.75em;
      font-family: cochin;
    }
    .skills {
      font-size: 1.75em;
      font-family: cochin;
    }
  }
}

#portfolio {
  padding: 50px 0;
  h2 {
    color: $dark_blue;
    font-size: 3em;
    font-family: cochin;
    font-weight: 700;
  }
  .margin50 {
    margin-top: 50px;
    margin-bottom: 50px;
    .portfolio-item {
      .caption {
        background-color: $sand;
        position: absolute;
        width: 95%;
        height: 100%;
        opacity: 0;
        &:hover {
          opacity: 0.99;
        }
        li {
          margin: 0 25px;
        }
      }
      img {
        width: 100%;
        padding: 5px;
        border: 2px solid $sand;
        &:hover {
          opacity: 0.2;
        }
      }
    }
  }
}

#about {
  padding: 50px 0;
  background-image: url("/assets/pattern2.png");
  background-repeat: repeat;
  background-size: contain;
  background-color: $sand;
  .margin50 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  h2 {
    color: $dark_blue;
    font-size: 3em;
    font-family: cochin;
    font-weight: 700;
  }
  p {
  font-size: 1.5em;
  color: $dark_blue;
  font-family: cochin;
  text-align: center;
  }
  .download-cv {
    background-color: $ruby_red;
    margin-top: 25px;
    &:hover {
      background-color: $dark_blue;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}

  .social-media-icons {
    margin-top: 25px;
    padding: 25px;
    color: $dark_blue;
    font-size: 40px;
  }
  .fa-github-square {
    &:hover {
      color: black;
    }
  }
  .fa-facebook-square {
    &:hover {
      color: $facebook_blue;
    }
  }
  .fa-linkedin-square {
    &:hover {
      color: $linkedin_blue;
    }
  }