<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">PORTFOLIO</a></li>
          <li><a href="#">ABOUT ME</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </div>
    </nav>

    <header>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <img class="photo-me" src="/assets/me.png">
            <div class="intro">
              <h1 class="name">Nicole Sentis</h1>
              <hr class="diamond">
              <p class="skills">Ruby on Rails Developer - Front-End Developer - Art Historian</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
